{% extends 'base.html' %}

{% block title %}Menú Principal{% endblock %}

{% block content %}
<div class="container">
    <h3 class="center-align">Centro Médico</h3>

    <!-- Menú de botones grandes -->
    <div class="row">
        <!-- Registrar Paciente -->
        <div class="col s12 m6 center-align">
            <a href="{% url 'registrar' %}" class="btn-large waves-effect waves-light blue" style="width: 80%; margin-top:20px;">
                Registrar Paciente
            </a>
        </div>

        <!-- Listar Pacientes -->
        <div class="col s12 m6 center-align">
            <a href="{% url 'listar' %}" class="btn-large waves-effect waves-light green" style="width: 80%; margin-top:20px;">
                Listar Pacientes
            </a>
        </div>
    </div>

    <!-- Otros botones o secciones 
    <div class="row">
        <div class="col s12 center-align">
            <a href="#" class="btn-large waves-effect waves-light grey" style="width: 80%; margin-top:20px;">
                Opciones adicionales
            </a>
        </div>
    </div> -->
</div>
{% endblock %}
